# Todo excepto la carpeta del proyecto
/*
!/crm
!.gitignore
!README.md
!Dockerfile
!docker-compose.yml
!.dockerignore
!.env.example
!Memoria TFG.docx

# Dentro del proyecto
/crm/config/.env
/crm/config/.env.*
/crm/vendor/

# Archivos del sistema
.DS_Store
Thumbs.db
